<p>
    <%= form.text_field :zulip_email %>
    This should be a bot address for most uses.
</p>

<p>
    <%= form.text_field :zulip_api_key %>
    The API key for the bot.
</p>

<p>
    <%= form.text_field :zulip_stream %>
    Which Zulip stream will receive updates. The message topic will be the project name.
</p>
